@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&family=Tilt+Prism&display=swap');

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

header {
    height: 50px;
    border-bottom: 2px solid black;
    padding-top: 20px;
    padding-left: 10px;
    background-image: url(https://img.freepik.com/free-photo/wooden-texture_1208-334.jpg);
    background-size: cover;
    width: 250px;
}

header a {
   color: #F2CB05;
}

footer {
    border-top: 1px solid black;
    position: bottom;
    height: 50px;
}

a {
    text-decoration: none;
    color: rgb(0, 89, 255);
}

a:hover {
    color: green;
}

h1 {
    font-family: "Tilt Prism";
    color: #F2CB05;
    font-weight: bold;
    background-color: black;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

tr:nth-child(even) {
    background-color: rgba(187, 184, 184, 0.983);
}

main {
background-image: url(https://e1.pxfuel.com/desktop-wallpaper/235/560/desktop-wallpaper-mexico-street-art-mexican-art.jpg);
}

div > div{
    background-image: url(https://muralsyourway.vtexassets.com/arquivos/ids/231580/RL18820119.jpg?v=638004038935000000);
    background-size: cover;
    border: 1px solid #0583F2;
    box-sizing: border-box;
    margin: 10px;
}

h3 > a {
    margin-left: auto;
    margin-right: auto;
}

#main-page-h2-div {
    padding-top: 4px;
    padding-left: 15px;
    background-image: url(https://img.freepik.com/free-photo/wooden-texture_1208-334.jpg);
    background-size: cover;
    width: 300px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

#main-page-h2 {
   color: #F2CB05;
}

#image {
    background-image: url(https://muralsyourway.vtexassets.com/arquivos/ids/231580/RL18820119.jpg?v=638004038935000000);
    background-size: cover;
    border: 1px solid #0583F2;
    box-sizing: border-box;
    margin: 10px;
    width: 350px;
    padding-top: 30px;
}

body {
    background-image: url(https://thepointsguy.global.ssl.fastly.net/uk/originals/2021/04/GettyImages-1198240687.jpg);
    background-size: cover;
}

footer{
    color: #F2CB05;
    background-image: url(https://img.freepik.com/free-photo/wooden-texture_1208-334.jpg);
    background-size: cover;
    width: 250px;
}

.div-table {
    background-image: url(https://img.freepik.com/free-photo/wooden-texture_1208-334.jpg);
    background-size: cover;
}
